body {
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 100vh;
}

#next {
    display: none;
}

#sub {
    display: none;
}

.front {
    outline: 5px solid #71d1f4;
    padding: 4%;
    height: 55vh;
    /* padding-top: 20%; */
    text-align: center;
    background-color: white;
    color: #71d1f4;
    font-family: 'NotoSansKR', cursive;
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40vh;
    transform: translate(-50%, -50%);

}

.answers {
    margin: 2%;
    margin-top: 5%;
    padding: 5%;
    align-self: center;
    background-color: white;
    display: none;
    color: #71d1f4;
    border: 5px solid white;
    font-family: 'Rokkitt', serif;
    font-size: 20px;
}

.qa {
    color: #71d1f4;
}

.quiz {
    /* margin: 2%;
    margin-top: 5%; */
    padding: 5%;
    align-self: center;
    background-color: #71d1f4;
    display: none;
    color: rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    font-family: 'Rokkitt', serif;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%);
}

.result {
    margin: 2%;
    padding: 5%;
    padding-top: 40%;
    height: 330px;
    text-align: center;
    background-color: white;
    display: none;
    font-family: 'Rokkitt', serif;
    font-size: 3rem;

}

input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.radio {
    padding-bottom: 4%;
}

/* .radio label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
    vertical-align: -3px;
    border: 2px solid #666666;
    padding: 0.13em;
    background-color: transparent;
    background-clip: content-box;

} */

.radio label {
    margin-right: 1em;
}

.radio input:hover+label:before {
    border-color: #71d1f4;
}

.radio input:checked+label:before {
    background-color: #71d1f4;
    border-color: #71d1f4;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid white;
    position: relative;
    left: 30px;

}

#o1 {
    width: 100%;
    height: 100%;
    font-size: 3rem;
}

#q {
    background-color: white;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 5px;
    height: 8vh;
    font-family: '';
    width: 43vh;
    text-align: center;
}

#op1,
#op2,
#op3,
#op4 {
    background-color: white;
    margin-bottom: 2.5%;
    padding: 5px;

    border-radius: 5px;
    font-size: 4rem;
    height: 80px;
    widows: 43vh;
}

#op1:hover,
#op2:hover,
#op3:hover,
#op4:hover {
    background-color: #ffff99;
}

#num {
    background-color: white;
    font-size: 3rem;
    border-radius: 30px;
    padding-left: 2%;
    color: #bcbcbc;
    text-align: center;
    width: 105px;
}

#sub {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 220px;
    height: 100px;
    font-size: 40px;
    color: #40c2f2;
}

#start {
    background-color: #71d1f4;
    color: white;
    padding: 8px;
    font-size: 3rem;
    border: none;
    width: 300px;
    height: 100px;
    border-radius: 5px;

}

.score {
    font-size: 21px;
    font-weight: bolder;
    color: #40c2f2;
}

.message {
    font-size: 20px;
    color: #40c2f2;
}

.answers {
    display: none;
}

#a1,
#a2,
#a3,
#a3,
#a4,
#a5,
#a6,
#a7,
#a8,
#a9,
#a10 {
    color: #80ff00;
    font-weight: bold;
}

.bg--red {
    animation: fade .7s;
}

@keyframes fade {
    to {
        background: rgba(255, 0, 0, 0.8);
    }
}
